h1
{
    text-align: center;
}

#erreur_catch
{
    display: none;

}

.alert-danger, .alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
}

.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
    color: #b94a48;
}