h1
{
    text-align: center;
}

#erreur_catch
{
    display: none;

}

.alert-danger, .alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
}

.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
    color: #b94a48;
}

table {
	border:1px solid black;
	width: 100%;
}

th, td {
	border: 1px solid black;
}

#catalogue .catalogue-item{
	border: 1px solid black;
}

.form-control{
	width: auto;
}

.avis {
	margin-top: 5px;
}

.infosAvis {
	margin-bottom: 20px;
}

#listeCommandes > div,
#listeAdresses > div{
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#listeCommandes div.row:last-child,
#listeAdresses  div.row:last-child{
	border-bottom: 1px solid black;
}

.input-number-panier
{
width : 50px;
}

.blocknews{
	padding: 5px;
	background-color:rgb(237,245,248);
	border-top: 1px groove;
	border-width: 2px;
	border-color:black;
}
.titrenews{
	font-size: 25px;
	color:rgb(114,174,202);
	padding-left:10px;
}

.blockconnexion{
	padding: 5px;
}

.blockcategorie{
	padding: 3px; 
}

.listecategorie{
	list-style-type:none;
	background-color:rgb(255,255,255);
	padding: 10px;
}

.accueil{


}


.listepromotions{
	list-style-type:none;

}

.listenouveautes{
	list-style-type:none;

}
