h1
{
    text-align: center;
}

#erreur_catch
{
    display: none;

}

.alert-danger, .alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
}

.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
    color: #b94a48;
}

table {
	border:1px solid black;
	width: 100%;
}

th, td {
	border: 1px solid black;
}

header *{
	line-height: 100px;
}

#catalogue ul li div{
	display: inline-block;
	width: auto;
}